*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
    background: #f6fbfd;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem auto;

}
h2{
    font-size: larger;
    color: crimson;
}

.menu{
    margin: 1.5rem 0;

}

.menu a{
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0 1.5rem;
    background-color: blueviolet;
    color: #fff;
    padding: 8px 22px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.store-item{
    width: 300px;
    padding: 1rem;

}

.store-item img{
    width: 100%;
    display: block;
    height: 100%;
    box-shadow: 7px 7px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}

@media(max-width:660px){
    .menu a {
        font-size: 1.1rem;
        margin: 0 0.1rem;
        padding: 8px 5px;
    }
    .store-item {
        width: 100px;
        padding: 10px;
        height: 100px;
    }

}